.btn-file {
    position: relative;

    overflow: hidden;
   /* overflow: hidden;*/
    font-family: "Helvetica";
    /*font-family: "Helvetica";*/
}

.btn-file input[type=file] {
    /**/
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#mapid { height: 500px; }


.top-buffer { margin-top:10px; }