@import es.kibu.geoapis.services.objectmodel.results.Application
@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(application: Application, entries: List[String], request: play.mvc.Http.Request, helpUrl: String)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
<!-- Latest compiled and minified CSS -->
@scripts = {

    <script src="@routes.Assets.versioned("javascripts/jsoneditor.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/custom-editor.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/ace.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/mode-javascript.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery.dynatable.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap-colorpicker.min.js")" type="text/javascript"></script>

    <script src="https://unpkg.com/leaflet@@1.0.3/dist/leaflet.js"
    integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
    crossorigin=""></script>

    <script src='https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.standalone.js'></script>

    @*<script src="https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js" type="text/javascript"></script>*@
        <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    @*https://github.com/ajaxorg/ace-builds/tree/e94cb3c7ffccfb2e565cc857f07a988c0989e527/src-min-noconflict*@
    <script src="@routes.Assets.versioned("javascripts/mode-json.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/filesaver.min.js")" type="text/javascript"></script>

}

@main("Application Details", scripts) {
    @* <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
    <div class="page-header"><h1>Details</h1></div>
    </div>
    </div>
    *@

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="list-group">
                @for((entry, index) <- entries.zipWithIndex) {
                    <a class="list-group-item @if(index == 0) { active }" data-toggle="tab" href="#@entry">
                    @entry</a>
                }
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
            @for((app, index) <- entries.zipWithIndex) {
                @if(app == "Details") {
                    <div id="@app" class="tab-pane fade @if(index == 0) {in active}" >
                        <div id="app_holder"></div>
                    </div>
                } else {
                    @if(app == "Parameters") {
                        <div id="@app" class="tab-pane fade @if(index == 0) {in active}" >
                            <div id="exec_holder"></div>
                        </div>
                    }
                    @if(app == "Run") {
                        <div id="@app" class="tab-pane fade @if(index == 0) {in active}" >
                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active"><a href="#config" aria-controls="config" role="tab" data-toggle="tab">
                                    Configuration</a></li>
                                <li role="presentation"><a href="#run" aria-controls="run" role="tab" data-toggle="tab">
                                    Run</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="config"><div id="run_holder"></div></div>
                                <div role="tabpanel" class="tab-pane" id="run">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            @*<div class="container">*@
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="btn-group" role="group" aria-label="Runing">
                                                        <button id="btnRun" type="button" class="btn btn-default">
                                                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                                            Run
                                                        </button>
                                                        <button id="btnStop" type="button" class="btn btn-default">
                                                            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                                                            Stop</button>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-md-offset-4">
                                                    <button id="btnClear" type="button" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                        Clear</button>

                                                    <button id="btnInvCache" type="button" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                                        Invalidate Cache</button>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="output">Output</label>
                                                            <textarea id="output" class ="form-control" style="min-height: 400px;
                                                                font-family: Courier New;
                                                                color: #003399;
                                                                white-space: pre-wrap"></textarea>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>

                                            @*</div>*@
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    }
                    @if(app == "Metrics") {
                        <div id="@app" class="tab-pane fade @if(index == 0) {in active}" >
                            <div class="row">
                                <div class="col-md-6 col-md-offset-6">
                                    <span class="pull-right">
                                        @* <button id='submit' type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Console
                                        </button>*@

                                        <span class="btn btn-default btn-file" style= "position: relative;
                                            overflow: hidden;
                                            font-family: 'Helvetica'">
                                            <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                                            Load <input type="file" style="position: absolute;
                                            top: 0;
                                            right: 0;
                                            min-width: 100%;
                                            min-height: 100%;
                                            font-size: 100px;
                                            text-align: right;
                                            filter: alpha(opacity=0);
                                            opacity: 0;
                                            outline: none;
                                            background: white;
                                            cursor: inherit;
                                            display: block">
                                        </span>

                                        <button id="save" type="button" class="btn btn-default btn-md">
                                            <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                                            Download
                                        </button>

                                        <button id="help" type="button" class="btn btn-default btn-md">
                                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                            <a target="_blank" href="@helpUrl">Help</a>
                                        </button>
                                    </span>

                                </div>

                            </div>
                            <div id="metrics_holder"></div>

                        </div>
                    }
                    @if(app == "Data") {
                        <div id="@app" class="tab-pane fade @if(index == 0) {in active}" >
                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active"><a href="#filters" aria-controls="config" role="tab" data-toggle="tab">
                                    Filters</a></li>
                                <li role="presentation"><a href="#data" aria-controls="run" role="tab" data-toggle="tab">
                                    Data</a></li>
                                <li role="presentation"><a href="#map" aria-controls="run" role="tab" data-toggle="tab">
                                    Map</a></li>
                            </ul>

                            <div class="tab-content panel">
                                <div role="tabpanel" class="tab-pane active" id="filters">
                                    <div id="alert_holder"></div>
                                    <div id="data_holder" class="form-group container-fluid">

                                        <div id="filtersHolder" class="row"></div>
                                        <div class="row">
                                            <div class="progress" id ="dataProgress" style="display: none;">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow=100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button id="getData" type="button" class="btn btn-default btn-md">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true" ></span>
                                                Get Data
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="data">
                                    <div class="panel">
                                        <table id="data-table" class="table table-striped table-bordered">
                                        </table>
                                    </div>
                                 </div>
                                <div role="tabpanel" class="tab-pane" id="map">
                                    <div class="container-fluid">
                                        @*<div class="container">*@
                                            <div class="row top-buffer">
                                                    <div class="btn-group col-md-4 col-md-offset-8" role="toolbar" aria-label="...">
                                                        <span class="pull-right">
                                                        <button id = "btnMarkers" type="button" class="btn btn-default"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></button>
                                                        <button id = "btnPolyline" type="button" class="btn btn-default"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></button>
                                                        <button id = "btnGeoJson" type="button" class="btn btn-default" data-toggle="modal" data-target="#geojson"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></button>
                                                        <button id = "btnClearMap" type="button" class="btn btn-default"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span></button>
                                                        </span>
                                                    </div>

                                            </div>

                                            <div class="row top-buffer">
                                                <div  id="mapid"></div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            </div>
        </div>
    </div>

    <div class="row" id="saveAllRow">
        <div class="col-md-2 col-md-offset-3">
            <button id="saveall" type="button" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-save-file" aria-hidden="true" ></span>
                Save All
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <div id = "alert_placeholder"></div>
        </div>
    </div>

    <div class="modal fade" id="geojson" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <input type="hidden" name="id" value="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">GeoJson</h4>
                </div>
                <div class="modal-body" id="logs_holder">
                    <form>
                        <div class="form-group">

                            <label for="txtGeojson">GeoJson</label>
                            <textarea id="txtGeojson" class ="form-control" style="min-height: 600px"></textarea>
                            <label for="colorPicker">Pick a color</label>
                            <div id="cp2" class="input-group colorpicker-component">
                                <input id="colorPicker" type="text" value="#00AABB" class="form-control" />
                                <span class="input-group-addon"><i></i></span>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer ">
                        <button type="button" id="modalGeoJson" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>
                             Add Features</button>
                </div>
            </div>
        </div>
    </div>

    <script>
            $(document).ready(function () {
                console.log("ready");
                $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
                    console.log("event");

                    var $toBeShown = $(e.target);
                    $toBeShown.parent().find('.active').removeClass('active');
                    $toBeShown.addClass('active');

                    if ($toBeShown.context.hash == "#Data" || $toBeShown.context.hash == "#Run") {
                        $("#saveAllRow").hide();
                    }
                    else if ($toBeShown.context.hash == "#Details" || $toBeShown.context.hash == "#Metrics" || $toBeShown.context.hash == "#Parameters")
                        $("#saveAllRow").show();

                });
            });

    </script>

    <script>

            var applicationId = '@application.getAppid()';

            var configApp = newEditorConfig("/app-editor", "/app-create", "/app-update", "/app-get", applicationId, "app_holder", "edit", "id,appid", null, null, " Application details");
            new DynamicEditor(configApp);

            var configExec = newEditorConfig("/exec-params-editor", "/exec-create", "/exec-update", "/exec-get", applicationId, "exec_holder", "edit", "id,application", "application,id", null, " Execution params");
            configExec.createIfErrorLoading = true;

            new DynamicEditor(configExec, function (editor) {
                setValue("exec_holder", "application", editor.objid);
            });

            var metricsEditorConfig = {
                disable_collapse: false,
                disable_properties: true,
                disable_edit_json: true,
                disable_array_delete_all_rows: true,
                disable_array_delete_last_row: true
            };

            var configMetrics = newEditorConfig("/metrics-schema", "/metrics-create", "/metrics-update", "/metrics-get",
                    applicationId, "metrics_holder", "edit", null, null, metricsEditorConfig, "Metrics");
            configMetrics.createIfErrorLoading = true;
            configMetrics.load_property_to_edit = function (result) {
                var content = result.content;
                var obj = JSON.parse(content);
                return obj;
            };
            new DynamicEditor(configMetrics);

            setFileHandler("metrics_holder");

            var runHolder = "run_holder";
            var configRun = newEditorConfig("/run-editor/" + applicationId, "/run", "", "", applicationId, runHolder,
                    "edit", "id,context.applicationId", null, null, "Run params",
                    "A metrics definition must be setup for the application first.");

            new DynamicEditor(configRun, function () {
                setValue(runHolder, "context.applicationId", applicationId);
            });


            var filtersEditorConfig = {
                disable_collapse: true,
                disable_properties: true,
                disable_edit_json: true,
                disable_array_delete_all_rows: true,
                disable_array_delete_last_row: true,
                grid_columns: 3
            };

            var configFilter = newEditorConfig("/data-filter-editor/" + applicationId, "", "", "", applicationId,
                    "filtersHolder", "edit", "id,application", "application,id", filtersEditorConfig, " Filters ");
            configFilter.createIfErrorLoading = true;

            new DynamicEditor(configFilter, function (editor) {
                setValue("filtersHolder", "filters.application", editor.objid);
            });

            function buildHeader(object){
                var begin = '<thead><tr>';
                var cols = "";
                for (var property  in object)
                {
                    if (object.hasOwnProperty(property)) {
                        // do stuff
                        console.log("adding property: " + property);
                        cols += '<th class="dynatable-header">' + property + '</th>';
                    }
                }
                var end = '</tr></thead>';
                var headers = begin + cols + end;

                return headers;
            }

            function showErrorAlert(alert_holder_id, message) {
                $('#'+alert_holder_id).
                append('<div class="alert   alert-danger" role="alert"><a class="close" data-dismiss="alert" >×</a><strong>Error!</strong><span>'+message+'</span></div>')
            }

            function showInfoAlert(alert_holder_id, message) {
                $('#'+alert_holder_id).
                append('<div class="alert alert-info" role="alert"><a class="close" data-dismiss="alert" >×</a><strong>Error!</strong><span>'+message+'</span></div>')
            }



            /*    {
             application: "app-47f2e1b5a3c44404",
             user: "user1",
             session: "session1",
             time: "2017-04-11 08:27:11.360Z",
             timeid: "a8c388d3-1e90-11e7-b25b-525400123457",
             location: {
             accuracy: null,
             altitude: null,
             latitude: 0,
             longitude: 0,
             time: null
             },
             previd: "a8c361c2-1e90-11e7-b25b-525400123457"
             },*/

            jQuery("a[href='#map']").on("shown.bs.tab", function() {
                if (records!= null && typeof records !== 'undefined') {
                    setMap(records, true);
                }
            });

            $("#btnMarkers,#btnPolyline").on("click", function (evt) {
                console.log(evt.currentTarget);
                if (evt.currentTarget.id == 'btnMarkers'){
                    setMap(records, true);
                }
                else if (evt.currentTarget.id == 'btnPolyline') {
                    setMap(records, false);
                }
            }
            );

            var mymap;
            var layers = [];

            function getPopupContent(record){

                var html = '<p>';
                for(var prop in record){
                    if (prop!== 'previd' && prop!== 'timeid' && prop!== 'location') {
                        var propStr = record[prop];
                        html = html + " <b>" +prop + ": " + " </b> " + propStr + " <br/>";
                    }
                }
                html = html + '</p>';
                return html;
            }

            function clearMap() {

                if (mymap != null && typeof mymap !== 'undefined') {
                    //mymap.off();
                    //mymap.remove();

                    for (var i =0 ; i< layers.length; i++) {
                        mymap.removeLayer(layers[i]);
                    }

                    layers  = [];
                    /*mymap.eachLayer(function(layer){
                        //layer.bindPopup('Hello');
                        mymap.removeLayer(layer);
                    });*/
                }
                //mymap = null;

            }

            function createMap(){
                L.mapbox.accessToken = 'pk.eyJ1IjoibHJvZHJpZ3VlejIwMDJjdSIsImEiOiJjajIxeWpwYXMwMDFpMnJvN2Q2NjFudG92In0.Gsd5-MiGZB5606MvkjhC5Q' ;
                if (map == null || typeof mymap == 'undefined' ){
                    mymap = L.mapbox.map('mapid', 'mapbox.streets');
                }
                return mymap;
            }

            function setMap(records, markers){

                var mymap = createMap();

                var latlngs = [
                ];

                console.log("setting "+ records.length + " locations");

                for (var i=0; i< records.length; i++) {
                    var record =  records[i];
                    if (typeof record.location !== 'undefined') {
                        var lat = record.location.latitude;
                        var lon = record.location.longitude;

                        //ignore
                        if (lat != 0 && lon !=0 ) {
                            if (!markers) {
                                var myIcon = L.icon({
                                    iconUrl: '@routes.Assets.versioned("images/circle.png")',
                                    iconSize: [5, 5],
                                    iconAnchor: [2.5, 2.5],
                                    popupAnchor: [0, 0]//,
                                    //shadowUrl: '@routes.Assets.versioned("images/circle.png")',
                                    //shadowSize: [20, 20],
                                    //shadowAnchor: [-3, -5]
                                });

                                layers.push(L.marker([lat, lon], { icon: myIcon}).addTo(mymap));

                            }
                            else {

                                var content = getPopupContent(record);
                                var marker = L.circleMarker([lat, lon]).addTo(mymap);
                                marker.bindPopup(getPopupContent(record)).openPopup(marker);
                                layers.push(marker);
                            }

                            latlngs.push([lat, lon]);
                        }
                    }
                }

                /*var arrBounds = [];
                $.each(latlngs, function(idx, pItem){
                    arrBounds.push([pItem.lat, pItem.lng]);
                });*/

                if (latlngs!= null && typeof latlngs!= 'undefined' && latlngs.length >0 ) {
                    var bounds = L.latLngBounds(latlngs);

                    if (!markers) {
                        var polyline = L.polyline(latlngs, {color: 'red'}).addTo(mymap);
                        layers.push(polyline);
                        //zoom the map to the polyline
                        //mymap.fitBounds(polyline.getBounds());
                    }
                    mymap.fitBounds(bounds);
                }

            }


            $("#btnClearMap").on("click", function () {
                //console.log("stopping ...");
                clearMap();
                setMap(records, true);
            });

            function objectAttributeWriter(record) {
                // `this` is the column object in settings.columns
                // TODO: automatically convert common types, such as arrays and objects, to string
                var  value = record[this.id]
                if (typeof value == 'object') {
                    return JSON.stringify(value);
                }
                return value;
            };

            function locationCellWriter(column, record) {

                function defaultCellWriter(column, record) {


                    var html = column.attributeWriter(record),
                            td = '<td';

                    if (html.length>50) {
                        html = '<div style="overflow-y:scroll; max-width:150px; overflow-x:scroll">' + html + "</div>";
                    }

                    if (column.hidden || column.textAlign) {
                        td += ' style="';

                        // keep cells for hidden column headers hidden
                        if (column.hidden) {
                            td += 'display: none;';
                        }

                        // keep cells aligned as their column headers are aligned
                        if (column.textAlign) {
                            td += 'text-align: ' + column.textAlign + ';';
                        }

                        td += '"';
                    }

                    return td + '>' + html + '</td>';
                };

                if (column.id == 'location') {
                    return '<td>' + record.location.latitude + ", " + record.location.longitude + '</td>'
                }
                else
                    return defaultCellWriter(column, record);
            }

            var records;

            function showProgress(){
                $("#dataProgress").show();
            }
            function hideProgress(){
                $("#dataProgress").hide();
            }


            $("#getData").on("click", function () {
                var filters = getValue("filtersHolder");
                console.log(filters);

                var value = JSON.parse(filters.value);
                var filters = value.filters;
                var datasource = filters.datasource;
                var application = filters.application;
                var session = filters.session;
                var user = filters.user;

                var url = "/data/" + applicationId + "/" + datasource + "?application=" + application + "&session=" + session + "&user=" + user;

                showProgress();

                $.getJSON(url, function (data) {
                    console.log(data);

                    try {
                        //$('#data-table').parent().children().not("#data-table").remove();
                        $('#data > div > *').not("#data-table").remove();
                        //$('#data-table > thead').remove();
                        $('#data-table').empty();

                        var sortedResults = data.results.sort(function (e1, e2){
                            var e1Date = new Date(e1);
                            var e2Date = new Date(e2);

                            if (e1Date < e2Date) {
                                return -1;
                            }
                            if (e1Date > e2Date) {
                                return 1;
                            }
                            // a must be equal to b
                            return 0;
                        });

                        if (data.count > 0) {
                            var sampleRecord = data.results[0];
                            var headers = buildHeader(sampleRecord);

                            $('#data-table').append(headers);

                            var dynatable = $('#data-table').dynatable({
                                dataset: {
                                    records: sortedResults
                                }/*,
                                 table: {
                                 columns: ""
                                 }*/,
                                writers: {
                                    //_rowWriter: defaultRowWriter,
                                    _cellWriter: locationCellWriter,
                                    _attributeWriter: objectAttributeWriter
                                }

                            }).data('dynatable');

                            $("#dynatable-query-search-data-table").addClass("form-control input-sm");
                            $("#dynatable-per-page-data-table").addClass("form-control").css('width', 'auto');
                            $('#Data a[href="#data"]').tab('show') // Select tab by name

                            records = sortedResults;
                            dynatable.settings.dataset.originalRecords = records;
                            //dynatable.resetOriginal();
                            dynatable.process();

                        }
                        else showInfoAlert('alert_holder', "The query retrieved no records..");

                    }
                    finally {
                       hideProgress();
                    }

                   },
                function (jqXHR, textStatus, errorThrown) {
                    try {
                        console.log(jqXHR.responseText + " - " + textStatus + " - " + errorThrown);
                        //alert(textStatus + errorThrown);
                        var message = jqXHR.responseText.indexOf("unconfigured")>=0? "Datasource does not exist": jqXHR.responseText;
                        showErrorAlert('alert_holder', message);

                    }
                    finally {
                        hideProgress();
                    }
                }
                );

            });

            $("#save").on("click", function () {
                console.log("saving...");
                save("metrics_holder", saveToFile);
                reload("run_holder");
            });

            $("#saveall").on("click", function () {
                console.log("saving...");
                cleanAlerts();
                save("app_holder", saveRemote);
                save("exec_holder", saveRemote);
                save("metrics_holder", saveRemote);
                reload("run_holder");
            });


            $("#btnClear").on("click", function () {
                console.log("cleaning...");
                $("#" + "output").text("");
            });

            $("#btnInvCache").on("click", function () {
                console.log("invalidating...");
                var url = '/metrics-invalidate/' + applicationId;
                $.postJSON(url, "", function (data, status, xhr) {
                    if (!data.error) {
                        console.log("Success invalidating metrics");
                        console.log(data);
                    }
                    else {
                        //showError(editorId, data.errorMessage);
                        console.log("Error invalidating metrics:" + data.errorMessage);
                    }
                });
            });

            function cleanAlerts() {
                $('#alert_placeholder').html('');
            }

            $("#btnRun").on("click", function () {
                console.log("running ...");
                var result = getValue(runHolder);
                if (result.valid) {
                    console.log("Sending job ...");
                    console.log(result.value);

                    $.postJSON("/run/" + applicationId, result.value, function (data, status, xhr) {
                        if (!data.error) {
                            console.log("Success saving data");
                            console.log(data);
                            //showAlert(editorId, editor.title + " saved successfully.");
                            initSocket('@routes.HomeController.ws.webSocketURL(request)', "output", data.result.logTopicKey);
                        }
                        else {
                            //showError(editorId, data.errorMessage);
                            console.log("error:" + data.errorMessage);
                        }

                    });
                }
                else {
                    console.log("errors found in parameters" + errors);
                }

            });

            $("#btnStop").on("click", function () {
                console.log("stopping ...");

            });

            $(function() {
                $('#cp2').colorpicker();
            });

            $('#modalGeoJson').on('click', function (e) {
                //your awesome code here
                var geojson = $("#txtGeojson").val();

                if (geojson !== '') {
                    var cpColor = $("#cp2").colorpicker('getValue', '#FFFFFF');
                    var geojsonFeature = getFeature(geojson);
                    var feature = L.geoJSON(geojsonFeature, {
                        style: function (f) {
                            var featureColor = (f.properties && f.properties.color)? f.properties.color: cpColor;
                            return {color: featureColor};
                        }
                    }).addTo(mymap);

                    layers.push(feature);
                    //zoom the map to the polyline
                    mymap.fitBounds(feature.getBounds());
                    console.log("adding geojson");
                }
                else console.log("geojson not added as it is empty");

               eliminateBackdrop("geojson");

            });

    </script>

}