@import es.kibu.geoapis.services.objectmodel.results.Application


@*
* This template takes a single argument, a String containing a
* message to display.
*@

@(applications: List[Application])
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@

@scripts = {
    <!-- Latest compiled and minified CSS -->
 @*   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/4.9.0/ajv.bundle.js"></script>

    <script src="@routes.Assets.versioned("javascripts/jsoneditor.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/ace.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/mode-javascript.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/mode-json.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/filesaver.min.js")" type="text/javascript"></script>
*@
    <script src="@routes.Assets.versioned("javascripts/custom-editor.js")" type="text/javascript"></script>

}

@*
<script src="@routes.Assets.versioned("javascripts/handlebars.runtime-v4.0.5.js")" type="text/javascript"></script>
*@
@main("Applications", scripts) {
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    * @play20.welcome(message, style = "Java")
    *@
    @*<div class="container">
        <div class="row">
            <div class="col-md-11">
                <h4>Applications</h4>
            </div>
            <div class="col-md-1 col-offset-11">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create">New</button>
            </div>
        </div>
    col-md-offset-0
*@

    <div class="row">
        <div class="col-md-1 col-md-offset-10">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create">New</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#logs">Logs</button>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped">
                        <thead>
                            <th>Application Name</th>
                            @*<th>Application Id</th>*@
                            @* <th>Application Desc</th>*@
                            <th>Edit</th>
                            <th>Delete</th>
                        </thead>
                        <tbody id="appsList">
                           @* @for((app, index) <- applications.zipWithIndex) {
                                *@@* @application(app, index)*@@*
                                <tr id="@app.getAppid()">
                                    <td><a href="/apps/@app.getAppid()">@app.getName()</a><br/>
                                    <small>@app.getDescription()</small>
                                    </td>
                                    *@@*<td>@app.getDescription()</td>*@@*
                                    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" data-id="@app.getAppid"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" data-id="@app.getAppid"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                </tr>
                            }*@

                        </tbody>

                    </table>

                    <div class="clearfix"></div>
                    <ul class="pagination pull-right">
                        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    </ul>

                </div>

            </div>
        </div>
    @*</div>*@

    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <input type="hidden" name="id" value="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Edit</h4>
                </div>
                <div class="modal-body" id="editor_holder">
                </div>

                <div class="modal-footer ">
                    <button type="button" id="modalUpdate" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>
                         Update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="logs" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <input type="hidden" name="id" value="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Logs</h4>
                </div>
                <div class="modal-body" id="logs_holder">
                    <form>
                        <div class="form-group">
                            <label for="output">Output</label>
                            <textarea id="txtLogs" class ="form-control" style="min-height: 600px"></textarea>
                        </div>
                    </form>
                </div>

                <div class="modal-footer ">
                  Place something here
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog" style="width: 800px">
            <div class="modal-content">
                <input type="hidden" name="id" value="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">New application</h4>
                </div>
                <div class="modal-body" id="editor_holder1">
                </div>
                <div class="modal-footer ">
                    <button type="button" id="modalCreate" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>
                         Create</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <input type="hidden" name="id" value="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete applicaton</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span>
                        Are you sure you want to delete this Application?</div>
                </div>
                <div class="modal-footer">
                    <button id="deleteBtn" type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span>
                         Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>
                         No</button>
                </div>
            </div>
        </div>
    </div>

    @editor("app-editor", "app-create", "app-update", "app-get", "", "editor_holder", "edit", "id,appid")

    @editor("app-editor", "app-create", "app-update", "app-get", "", "editor_holder1", "create", "id,appid")

    <script>

            jQuery["postJSON"] = function( url, data, callback ) {
                // shift arguments if data argument was omitted
                if ( jQuery.isFunction( data ) ) {
                    callback = data;
                    data = undefined;
                }

                return jQuery.ajax({
                    url: url,
                    type: "POST",
                    contentType:"application/json; charset=utf-8",
                    dataType: "json",
                    data: data,
                    success: callback
                });
            };

            //triggered when modal is about to be shown
            $('#edit').on('show.bs.modal', function(e) {
                //get data-id attribute of the clicked element
                var appid = $(e.relatedTarget).data('id');
                console.log("AppId is: " + appid);

                //populate the textbox
                $(e.currentTarget).find('input[name="id"]').val(appid);
                loadData(appid, "editor_holder");
            });

            $('#delete').on('show.bs.modal', function(e) {
                //get data-id attribute of the clicked element
                var appid = $(e.relatedTarget).data('id');
                console.log("AppId is: " + appid);

                //populate the textbox
                $(e.currentTarget).find('input[name="id"]').val(appid);
            });

            $('#logs').on('show.bs.modal', function(e) {
                //get data-id attribute of the clicked element
                console.log("Logs opened... ");
                initSocket('@routes.HomeController.ws.webSocketURL(request)', "txtLogs", "general");
                //populate the textbox
                //$(e.currentTarget).find('input[name="id"]').val(appid);
            });

            $('#modalUpdate').on('click', function (e) {
                var appid = $("#edit").find('input[name="id"]').val();
                //your awesome code here
                save("editor_holder", saveRemote, function(){
                    eliminateBackdrop('edit');
                    loadApps();
                });

                console.log("submitting");

            });

            $('#modalCreate').on('click', function (e) {
                //your awesome code here
                createData("editor_holder1",function () {
                    eliminateBackdrop('create');
                    loadApps();
                });
                console.log("creating");
            });

            $('#deleteBtn').on('click', function (e) {
                var appid = $("#delete").find('input[name="id"]').val();
                console.log("deleting :" + appid);
                //your awesome code here
                deleteApp(appid);
            });



            function deleteApp(id){
                var value = "";
                console.log("deleting" + id);
                var url = 'app-delete' +'/'+ id;

                $.post(url, value, function (data, status, xhr) {
                    console.log('Nailed it!');
                    if (!data.error) {
                        console.log("Success deleting app.");
                        //$( "tr" ).remove( "#"+id);
                        $("tr#"+id).hide('slow', function(){ $("tr#"+id).remove(); });
                    }
                    else console.log("Error deleting data: " + data.errorMessage);
                    eliminateBackdrop('delete');
                });

            }

            function loadApps(){
                $.get( "raw-apps", function( data ) {
                    renderAllApps(data.result);
                });
            }

            function renderApp(appId, appName, appDesc) {
                    var result = '<tr id="'+ appId+'" class="app-row">'+
                        '<td><a href="/apps/'+appId+'">'+appName+'</a><br/>'+
                        '<small>'+appDesc+'</small>' +
                        '</td>'+
                        '<td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" data-id="'+appId+'"><span class="glyphicon glyphicon-pencil"></span></button></p></td>'+
                        '<td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" data-id="'+appId+'"><span class="glyphicon glyphicon-trash"></span></button></p></td>'+
                    '</tr>';
                 return result;
            }


            function renderAllApps(appsList) {
                $('.app-row').remove();

                for (var i = 0; i < appsList.length; i++) {
                    var app = appsList[i];
                    var appId = app.appid;
                    var appName = app.name;
                    var appDesc = app.description;
                    $('#appsList').append(renderApp(appId, appName, appDesc));
                }

            }

            $( document ).ready(function() {
                // Handler for .ready() called.
                loadApps();
            });


    </script>


}
