@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(templateUrl: String, createServiceUrl: String, updateServiceUrl: String, getServiceUrl: String, id: String, holder: String, mode: String, disableFields: String)

    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    * @play20.welcome(message, style = "Java")
    *@
    @*<div class="container" >
        <div class="row">
            <div id="editor_holder"></div>
        </div>
        <div class="row">
            <button id='submit' class="btn btn-default col-md-3">Update/Create</button>
        </div>

        <div class="row">
            <div id ="alert_placeholder"></div>
        </div>

    </div>*@

    <script language="JavaScript">

        var config = newEditorConfig('@templateUrl', '@createServiceUrl', '@updateServiceUrl', '@getServiceUrl', '@id', '@holder', '@mode', '@disableFields');
        new DynamicEditor(config);

    </script>

