@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/4.9.0/ajv.bundle.js"></script>

<script src="@routes.Assets.versioned("javascripts/jsoneditor.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/ace.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/mode-javascript.js")" type="text/javascript"></script>
@*https://github.com/ajaxorg/ace-builds/tree/e94cb3c7ffccfb2e565cc857f07a988c0989e527/src-min-noconflict*@
<script src="@routes.Assets.versioned("javascripts/mode-json.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/filesaver.min.js")" type="text/javascript"></script>
@*
<script src="@routes.Assets.versioned("javascripts/handlebars.runtime-v4.0.5.js")" type="text/javascript"></script>
*@

@main("Welcome to Play") {
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    * @play20.welcome(message, style = "Java")
    *@
    <div class="container" >
        <div class="row">
            <div id="editor_holder"></div>
        </div>
        <div class="row">
            <button id='submit' class="btn btn-default col-md-3">Submit (console.log)</button>
            <input  id="files" class="btn btn-default col-md-3 col-md-offset-1" type="file"  name="files[]" multiple />
            <button id='save' class="btn btn-default col-md-3 col-md-offset-1" onclick="saveJson()">Save</button>
        </div>

        <div class="row">
            <div id = "alert_placeholder"></div>
        </div>

    </div>


    <script language="JavaScript">

            //var Ajv = require('ajv');
            var ajv = new Ajv();

            JSONEditor.defaults.options.theme = 'bootstrap3';
            JSONEditor.defaults.options.iconlib = "bootstrap3";
            JSONEditor.plugins.epiceditor.basePath = 'epiceditor';
            JSONEditor.defaults.options.template = 'handlebars';

            // Custom validators must return an array of errors or an empty array if valid
            JSONEditor.defaults.custom_validators.push(function(schema, value, path) {
                var errors = [];
                if(schema.format==="json") {
                    /* if(!/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/.test(value)) {
                     // Errors must be an object with `path`, `property`, and `message`
                     errors.push({
                     path: path,
                     property: 'format',
                     message: 'Dates must be in the format "YYYY-MM-DD"'
                     });
                     }*/
                    console.log("path:" + path);

                    if (/*path.includes("dimension-schema") || */path.includes("schema") && value!= ''
                    /*&& typeof value !== 'undefined'*/){

                        try {
                            var valueObj = JSON.parse(value);

                            var schemaValid = ajv.validateSchema(valueObj);
                            if (!schemaValid) {

                                for (var err in ajv.errors){
                                    var errObj = ajv.errors[err];
                                    var errMsg = errObj.dataPath + ': '  + errObj.keyword + ' '+ errObj.message;

                                    errors.push({
                                        path: path,
                                        property: 'schema',
                                        message: errMsg
                                    });

                                    break;
                                }

                            }
                        }
                        catch (err){
                            errors.push({
                                path: path,
                                property: 'schema',
                                message: 'Schemas provided must be a valid json:' + err
                            });
                        }
                    }

                }
                return errors;
            });

            $.getJSON("metrics-schema",
                    function (data) {

                        editor = new JSONEditor(document.getElementById("editor_holder"), {
                            disable_collapse: false,
                            disable_properties: true,
                            disable_edit_json: true,
                            disable_array_delete_all_rows: true,
                            disable_array_delete_last_row: true,
                            schema: data
                        });

                        //editor = editor.getEditor("root.variables");


                    });

            // Hook up the submit button to log to the console
            document.getElementById('submit').addEventListener('click', function () {
                // Get the value from the editor
                console.log(editor.getValue());
            });



            // Hook up the submit button to log to the console

            function saveJson(holder){

                var bootstrap_alert = {};
                  bootstrap_alert.warning = function(messages) {

                    $('#alert_placeholder').html('');

                    for (var i =0; i< messages.length; i++ ) {
                        var message = messages[i].message;
                        var path = messages[i].path;
                        var property = messages[i].property;
                        $('#alert_placeholder').append('<div class="alert   alert-danger" role="alert"><a class="close" data-dismiss="alert" >×</a><strong>'+path + property+'</strong><span>'+message+'</span></div>')
                    }
                };

                var editor = editors[holder];
                // Validate the editor's current value against the schema
                var errors = editor.validate();

                if(errors.length) {
                    // errors is an array of objects, each with a `path`, `property`, and `message` parameter
                    // `property` is the schema keyword that triggered the validation error (e.g. "minLength")
                    // `path` is a dot separated path into the JSON object (e.g. "root.path.to.field")
                    console.log(errors);
                    bootstrap_alert.warning(errors);

                }
                else {
                    var value = JSON.stringify(editor.getValue());
                    var blob = new Blob([value], {type: "application/json;charset=utf-8"});

                    var filename = getFileName();
                    saveAs(blob, filename);

                }

            }


            /*
            $('#save').on('click', function() {
                bootstrap_alert.warning('Your text goes here');
            });
            */
            function getFileName(){
                 if (typeof lastName == 'undefined' || lastName == null){
                     return 'schema.json';
                 }
                 else return lastName;
            }

            function handleFileSelect(evt) {
                var files = evt.target.files; // FileList object

                // files is a FileList of File objects. List some properties.
                //var output = [];
                var f = files[0];
                lastName = f.name;
                console.log(lastName);
                var reader = new FileReader();

                // Closure to capture the file information.
                reader.onload = (function(theFile) {
                    return function(e) {
                        var obj = JSON.parse(e.target.result);
                        editor.setValue(obj);
                    };
                })(f);

                // Read in the image file as a data URL.
                reader.readAsText(f, 'utf-8');
            }

            document.getElementById('files').addEventListener('change', handleFileSelect, false);

    </script>
}
