@(id: String, url: String)
<span class="pull-right">
    <a id="@id"></a>
</span>

<script>
        $.getJSON('@url',
                function (data) {
                    console.log('received:' + data);
                    var id = '@id';
                    if (!data.error) {
                        $('#'+id).append(data.name + "(" + data.version + ")");
                    }
                    else {
                        /*$('#'+id).append('<div class="alert alert-info" role="alert"><span>'+editor.messageOnNoForm+'</span></div>')*/
                        $('#'+id).append("unknown version");
                    }
                });
</script>

